* {
  box-sizing: border-box; }

.fixed-page {
  overflow: hidden; }

.container {
  max-width: 320px;
  height: 100%;
  margin: auto; }

.header {
  background: #000; }
  .header .header__top {
    padding: 5px 30px;
    background: #fff; }
    .header .header__top .header__top-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }
      .header .header__top .header__top-wrapper .header__logo-img {
        width: 167px;
        height: 61px; }
      .header .header__top .header__top-wrapper .header__burger-mnu.open-mnu span {
        opacity: 0;
        transition: 0.5s; }
      .header .header__top .header__top-wrapper .header__burger-mnu.open-mnu:after {
        transform: rotate(-38deg);
        bottom: 26px;
        transition: 0.4s; }
      .header .header__top .header__top-wrapper .header__burger-mnu.open-mnu:before {
        transform: rotate(38deg);
        top: 26px;
        transition: 0.4s; }
      .header .header__top .header__top-wrapper .header__burger-mnu {
        position: relative;
        width: 51px;
        height: 58px;
        display: block; }
        .header .header__top .header__top-wrapper .header__burger-mnu span {
          top: 25px;
          height: 7px;
          width: 100%;
          position: absolute;
          background: #FDB819;
          margin: 0 auto; }
        .header .header__top .header__top-wrapper .header__burger-mnu:after {
          content: '';
          bottom: 5px;
          height: 7px;
          width: 100%;
          position: absolute;
          background: #FDB819;
          margin: 0 auto; }
        .header .header__top .header__top-wrapper .header__burger-mnu:before {
          content: '';
          top: 5px;
          height: 7px;
          width: 100%;
          position: absolute;
          background: #FDB819;
          margin: 0 auto; }
      .header .header__top .header__top-wrapper .header__nav {
        position: absolute;
        width: 100%;
        top: 75px;
        display: block;
        background-color: #F9F9F2;
        left: -100%;
        transition: all 0.4s ease; }
        .header .header__top .header__top-wrapper .header__nav .header__menu {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          position: relative;
          overflow: auto;
          z-index: 2; }
          .header .header__top .header__top-wrapper .header__nav .header__menu li {
            list-style: none;
            font-family: "PoppinsRegular", sans-serif;
            font-size: 16px;
            margin-top: 10px; }
            .header .header__top .header__top-wrapper .header__nav .header__menu li a {
              text-decoration: none;
              color: #000; }
              .header .header__top .header__top-wrapper .header__nav .header__menu li a:hover {
                color: #FDB819; }
      .header .header__top .header__top-wrapper .open-mnu {
        left: 0; }
  .header .header__content {
    width: 100%;
    height: 710px;
    background-image: url("./../img/yellow_car.png"), url("./../img/Wheels.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 15%, 50% 56%;
    background-size: 88%; }
    .header .header__content .header__content-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end; }
      .header .header__content .header__content-wrapper .header__title {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 33px;
        text-transform: uppercase;
        text-align: center;
        margin: 30px 20px 40px 20px; }
      .header .header__content .header__content-wrapper .header__evaluate {
        margin-bottom: 25px;
        width: 200px;
        height: 50px;
        padding-left: 48px;
        background-color: #FDB819;
        background-image: url("./../img/evalFoto.png");
        background-repeat: no-repeat;
        background-position: 6% 50%;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 400; }
      .header .header__content .header__content-wrapper .header__price-wrap {
        margin-bottom: 120px;
        display: flex;
        align-items: center; }
        .header .header__content .header__content-wrapper .header__price-wrap a {
          text-decoration: none;
          color: #fff;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          margin-left: 10px; }

@media (min-width: 580px) {
  .container {
    max-width: 540px; }
  .header .header__top {
    padding: 5px 35px; }
  .header .header__content {
    background-position: 50% 5%, 50% 85%;
    background-size: 81%; } }

@media (min-width: 800px) {
  .container {
    max-width: 720px; }
  .header .header__top {
    padding: 5px 60px; }
    .header .header__top .header__top-wrapper .header__burger-mnu {
      display: none; }
    .header .header__top .header__top-wrapper .header__nav {
      position: relative;
      left: 0;
      top: 0;
      background-color: #fff; }
      .header .header__top .header__top-wrapper .header__nav .header__menu {
        flex-direction: row;
        justify-content: flex-end; }
        .header .header__top .header__top-wrapper .header__nav .header__menu .menu__item {
          margin-left: 30px; }
  .header .header__content {
    background-size: 65%; }
    .header .header__content .header__content-wrapper .header__title {
      font-size: 45px; } }

@media (min-width: 1050px) {
  .container {
    max-width: 960px; }
  .header .header__content {
    background-size: 45%;
    background-position: 94% 36%, 50% 85%; }
    .header .header__content .header__content-wrapper {
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start; }
      .header .header__content .header__content-wrapper .header__title {
        text-align: start;
        margin: 142px 477px 40px 0px;
        font-size: 57px; }
      .header .header__content .header__content-wrapper .header__evaluate {
        margin: 0px 50px 191px 0px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
