* {
  box-sizing: border-box
}
.fixed-page {
  overflow: hidden;
}
.container {
  max-width: 320px;
  height: 100%;
  margin: auto;
}
.header {
  background: #000;
  .header__top {
    padding: 5px 30px;
    background: #fff;
    .header__top-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .header__logo-img {
        width: 167px;
        height: 61px;
      }
      .header__burger-mnu.open-mnu {
        span {
          opacity: 0;
          transition: 0.5s;
        }
        &:after {
          transform: rotate(-38deg);
          bottom: 26px;
          transition: 0.4s;
        }
        &:before {
          transform: rotate(38deg);
          top: 26px;
          transition: 0.4s;
        }
      }
      .header__burger-mnu {
        position: relative;
        width: 51px;
        height: 58px;
        display: block;
        span {
          top: 25px;
          height: 7px;
          width: 100%;
          position: absolute;
          background: #FDB819;
          margin: 0 auto;
        }
        &:after {
          content: '';
          bottom: 5px;
          height: 7px;
          width: 100%;
          position: absolute;
          background: #FDB819;
          margin: 0 auto;
          
        }
        &:before {
          content: '';
          top: 5px;
          height: 7px;
          width: 100%;
          position: absolute;
          background: #FDB819;
          margin: 0 auto;
          
        }
        
      }
      .header__nav {
        position: absolute;
        width: 100%;
        top: 75px;
        display: block;
        background-color: #F9F9F2;
        left: -100%;
        transition: all 0.4s ease;
        .header__menu {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          position: relative;
          overflow: auto;
          z-index: 2;
          & li {
            list-style: none;
            font-family: "PoppinsRegular", sans-serif;
            font-size: 16px;
            margin-top: 10px;
            & a {
              text-decoration: none;
              color: #000;
              &:hover {
                color: #FDB819;
              }
            }
          }
        }
      }
      .open-mnu {
        left: 0; 
      }
    }
  }
  .header__content {
    .header__content-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      .header__title {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 33px;
        text-transform: uppercase;
        text-align: center;
        margin: 30px 20px 40px 20px;
      }
      .header__evaluate {
        margin-bottom: 25px;
        width: 200px;
        height: 50px;
        padding-left: 48px;
        background-color: #FDB819;
        background-image: url('./../img/evalFoto.png');
        background-repeat: no-repeat;
        background-position: 6% 50%;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
      }
      .header__price-wrap {
        margin-bottom: 120px;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: #fff;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          margin-left: 10px;
        }
      }
    }
    
    height: 870px;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      content: '';
      width: 500px;
      height: 1000px;
      right: -278px;
      top: -92px;
      background-color: #FDB819;
      opacity: .8;
      -webkit-transform: rotate(-17deg);
      transform: rotate(-17deg);
    }
    
  }
}

@import "./_media"